@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#grid{
    display: grid;
    width: 100%;
    height: 100%;
    margin: 0;
    grid-template-columns: repeat(5,fit-content(70px));
    grid-template-rows: 1fr min-content;
}
body{
    margin: 0;
    font-family: "Roboto";
}
#topcorner{
    grid-column: 1/1;
    grid-row: 1/1;
    width: 20vw;
    min-height: 40px;
    background-color: red;
    min-width: 100px;
    text-align: center;
}
.navbar{
    text-align: center;
    width: 20vw;
    min-height: 40px;
}
.navbar > p{
    position: relative;
    top: 0%;
}
#imagecontainer{
    grid-column: 1/6;
    grid-row: 2/2;
    width: 100vw;
    height: calc(100vh - 51.2px);
    min-height: 300px;
    margin: 0;
    background-image: url('https://i.imgur.com/aO5dYrU.png');
    background-position: center;
    background-size: cover;
}

@media (max-width: 700px){
    .navbar{
        min-width: 100px;
        min-height: 70px;
        grid-column: 1/1;
        height: calc(29.3vh - 10px);
        
    }
    #imagecontainer{
        grid-column: 2/6;
        grid-row: 1/6;
        height: 100%;
    }
}
